@model Recrutment.Models.Offre

@{
    if (ViewData != null && ViewData.ContainsKey("Title") && ViewData["Title"] != null)
    {
        ViewData["Title"] = "Créer une offre";
    }
    else
    {
        ViewData["Title"] = "Default Title"; // Provide a default value
    }
}





<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" class="form-horizontal">
    <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Poste"></label>
        <input asp-for="Poste" class="form-control" />
        <span asp-validation-for="Poste" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Secteur"></label>
        <input asp-for="Secteur" class="form-control" />
        <span asp-validation-for="Secteur" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TypeContrat"></label>
        <input asp-for="TypeContrat" class="form-control" />
        <span asp-validation-for="TypeContrat" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Profil"></label>
        <input asp-for="Profil" class="form-control" />
        <span asp-validation-for="Profil" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Remuneration"></label>
        <input asp-for="Remuneration" type="number" class="form-control" />
        <span asp-validation-for="Remuneration" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="ApplicationUserId"></label>
    <select asp-for="ApplicationUserId" class="form-control" asp-items="@(ViewBag.Recruteurs as SelectList)"></select>
    <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a class="btn btn-secondary" asp-area="" asp-controller="Offre" asp-action="Index">Annuler</a>
</form>
