@model IEnumerable<dynamic>  <!-- Le modèle ici est une liste d'objets dynamiques contenant l'Id, UserName, et Email -->

<h2>Liste des Recruteurs</h2>

@if (!Model.Any())
{
    <p>Aucun recruteur trouvé.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recruteur in Model)
            {
                <tr>
                    <td>@recruteur.UserName</td>
                    <td>@recruteur.Email</td>
                    <td>Recruteur</td> <!-- Puisque nous savons que tous les utilisateurs ici sont des recruteurs -->
                </tr>
            }
        </tbody>
    </table>
}
